<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h1 class="heading">Admin area</h1>
  <a class="btn btn-primary m-auto" href="/admin/new">Add New Book</a>
  <a class="btn btn-primary m-auto" href="/admin/users">View All Users</a>
  <a class="btn btn-primary m-auto" href="/admin/orders">View All Orders</a>
</body>
