<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="empty-cart-container">
    <h1>Cart is empty!! Add products from home page</h1>
    <a href="/books">&lt; Back to home</a>
  </div>
</body>
