<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="center">
    <h1 class="heading">Login</h1>
    <form action="/login" method="post">
      <div class="mb-3 mt-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          class="form-control w-75 m-auto"
          id="username"
          placeholder="Username"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control w-75 m-auto"
          id="password"
          placeholder="Password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary m-auto">Login</button>
    </form>
  </div>
</body>
